<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975370955809-0qmfibn8d74vqd2pnje0j7ctjt01e02g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975370955809-0qmfibn8d74vqd2pnje0j7ctjt01e02g</string>
	<key>API_KEY</key>
	<string>AIzaSyCcmOCYDOW78M8_t1rGtBJTA53OdEBVdTg</string>
	<key>GCM_SENDER_ID</key>
	<string>975370955809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.intouch</string>
	<key>PROJECT_ID</key>
	<string>intouchvamshik</string>
	<key>STORAGE_BUCKET</key>
	<string>intouchvamshik.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975370955809:ios:119eeefde627ac888c0760</string>
</dict>
</plist>